

.signups{
    display: flex;
    flex-direction: row;
    width: 400px;
    margin: auto;
    height: inherit;
    padding: 20px;
    background-color: #333; 
    color: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2{
    background-color: #333;
}
h3{
    background-color: #333;
}